<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
 <display-name>Pay Roll</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>DesignationServlet</display-name>
    <servlet-name>DesignationServlet</servlet-name>
    <servlet-class>controller.DesignationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesignationServlet</servlet-name>
    <url-pattern>/Designation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaySlipServlet</display-name>
    <servlet-name>PaySlipServlet</servlet-name>
    <servlet-class>controller.PaySlipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaySlipServlet</servlet-name>
    <url-pattern>/PaySlip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreProfile</display-name>
    <servlet-name>PreProfile</servlet-name>
    <servlet-class>controller.PreProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreProfile</servlet-name>
    <url-pattern>/PreProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreUpdate</display-name>
    <servlet-name>PreUpdate</servlet-name>
    <servlet-class>controller.PreUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreUpdate</servlet-name>
    <url-pattern>/PreUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimePunch</display-name>
    <servlet-name>TimePunch</servlet-name>
    <servlet-class>controller.TimePunch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimePunch</servlet-name>
    <url-pattern>/TimePunch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSal</display-name>
    <servlet-name>UpdateSal</servlet-name>
    <servlet-class>controller.UpdateSal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSal</servlet-name>
    <url-pattern>/UpdateSal</url-pattern>
  </servlet-mapping>
</web-app>